html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0px; 
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 255, 0.3);
    overflow: scroll;
}



.click {
    text-align: center;
    font-size: bold;
    color: yellow;
    background-position-x: 45%;
    background-position-y: 20%;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 100px;
    background-color: red;
    border: 3px dashed yellow;
    border-radius: 35% 35% 35% 35%;
}



table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border: 3px solid white;
    margin: 0 auto;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    top: 40px;
}

.tHead {
    background-color: darkblue;
    color: red;
    font-size: bold;
}

.tab {
    background-color: white;
}

tr, th {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 12px;
    border-spacing: 2px;
    font-size: 14pt;
    text-align: center;
}



.galleryView {
    width: 1800px;
    height: 130px;
    margin:  0 auto;
    padding: 8px;
}

.insideGallery {
    display: inline;
}

.insideGallery:hover {
    opacity: 0.5;
}

img {
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}

.gallery-enter {
  opacity: 0.01;
}

.gallery-enter.gallery-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.gallery-leave {
  opacity: 1;
}

.gallery-leave.gallery-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.icon {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    bottom: 0;
}

.icon img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.insideIcon {
    position: absolute;
    width: 100%;
    bottom: 1px;
}

.descr {
    display: inline;
    text-align: center;
}

.traslate-enter {
    transform: translateX(100vw);
}

.traslate-enter.traslate-enter-active {
    transform: translateX(0);
    transition: all 500ms ease-in-out;
}

.traslate-leave {
    transform: translateX(0);
}

.traslate-leave.traslate-leave-active {
    transform: translateX(-100vw);
    transition: all 500ms ease-in-out;
}

.previous {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    border-radius: 55% 55% 55% 55%;
    opacity: 0.5;
    width: 85px;
    height: 55px;
    position: relative;
    cursor: pointer;
}

.next {
    float: right;
    text-align: center;
    font-size: bold;
    color: white;
    background-color: darkblue;
    border-radius: 55% 55% 55% 55%;
    opacity: 0.5;
    width: 85px;
    height: 55px;
    position: relative;
    cursor: pointer;
}