html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(242, 242, 242);
    overflow: scroll;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border: 1px solid darkgray;
    margin: 0 auto;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    top: 40px;
}

tr,th {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 12px;
    border-spacing: 2px;
    font-size: 14pt;
    text-align: center;
}

img {
    background-repeat: no-repeat;
    max-width: 90%;
    max-height: 100%;
}

.icon {
    border: 2px solid darkcyan;
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

.next {
    text-align: right;
    margin-left: 93%; 
}

.previous {
    text-align: left;
    /*margin-top: 5%;*/
    display: inline-block;
}

.click {
    text-align: center;
    background-position-x: 45%;
    background-position-y: 20%;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 250px;
}

.gallery {
    border: 2px solid darkcyan;
    width: 600px;
    height: 100px;
    margin:  0 auto;
    padding: 8px;
}

.insideGallery {
    display: inline;
    width: 200px;
    height: 100px;
}

.insideIcon {
    border: 1px solid darkcyan;
    width: 530px;
    height: 380px;
    margin: 35px;
}